<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>System Information</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding: 20px;
        }

        .header-container {
            margin-bottom: 30px;
        }

        .table th {
            width: 30%;
        }

        .process-memory-bar {
            height: 20px;
            background-color: #007bff;
            text-align: center;
            color: white;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="header-container">
    <h2>System Information</h2>
</div>
<table class="table table-bordered">
    <tbody>
    {% for key, value in data.items() %}
    {% if key != 'processes' %}
    <tr>
        <th scope="row">{{ key | capitalize }}</th>
        <td>{{ value }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>

<div class="header-container">
    <h3>Processes</h3>
</div>
<table class="table table-striped">
    <thead class="thead-light">
    <tr>
        <th>Name</th>
        <th>Memory Usage</th>
        <th>PID</th>
    </tr>
    </thead>
    <tbody>
    {% for process in data.processes %}
    <tr>
        <td>{{ process.name }}</td>
        <td>
            <div class="process-memory-bar" style="width: {{ process.memory_percent }}%;">
                {{ process.memory_percent }}%
            </div>
        </td>
        <td>{{ process.pid }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
